@font-face {
  font-family: 'Game of Thrones';
  src: url('GOTfont/GameofThrones.eot');
  src: url('GOTfont/GameofThrones.woff2') format('woff2'),
      url('GOTfont/GameofThrones.woff') format('woff'),
      url('GOTfont/Game of Thrones.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Game of Thrones';
  color: #ffff;
}

#video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  
}

@media (min-aspect-ratio: 16/9){
  #video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  #video {
    width: auto;
    height: 100%;
  }
}
#nav {
  background-color: #262626;
  width: 100%;
}

.responsive-img {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding: 0%;
  width: 70%;
  height: 70%;
}

#main {
  color: black;
  background: linear-gradient(#ffff, #262626);
  text-align: center;
}

.houseLogo {
  display: block;
  position: relative;
  width: 10%;
  height: 10%;
  bottom: -200%;
  padding: 1%;
}