@font-face {
  font-family: 'Game of Thrones';
  src: url('GOTfont/GameofThrones.eot');
  src: url('GOTfont/GameofThrones.woff2') format('woff2'),
      url('GOTfont/GameofThrones.woff') format('woff'),
      url('GOTfont/Game of Thrones.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Game of Thrones';
  color: #ffff;
}

#video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  filter: saturate(50%)
  
}

@media (min-aspect-ratio: 16/9){
  #video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9){
  #video {
    width: auto;
    height: 100%;
  }
}
#nav {
  background-image: url('Game of Thrones/gotlogo.jpg');
  width: 100%;
}
#quoteLink:hover{
  color: #E5991F;
}

#resetLink:hover{
  color:#E5991F;
}

#link2:hover{
  color:#E5991F;
}

.responsive-img {
  align-content: top;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 50%;
  height: 50%;
}

#main {
  color: linear-gradient(90deg,#7e7e7e 0%, #e3e3e3 25%, #787878 50%, #e3e3e3 75%, #7e7e7e 100%);;
  background: radial-gradient(#414141,#1C1C1C);
  text-align: center;
  padding: 2%;
}

.houseLogo {
  display: block;
  position: relative;
  width: 10%;
  height: 10%;
  bottom: -200%;
  padding: 0%;
}