@font-face {
  font-family: 'Game of Thrones';
  src: url('GOTfont/GameofThrones.eot');
  src: url('GOTfont/GameofThrones.woff2') format('woff2'),
      url('GOTfont/GameofThrones.woff') format('woff'),
      url('GOTfont/Game of Thrones.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'Game of Thrones';
  color: #ffff;
  background: linear-gradient(#01262F, #1E0C02 );
  background-image: url('Game of Thrones/sparks.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#nav {
  background-image: url('Game of Thrones/gotlogo.jpg');
  width: 100%;
}
#quoteLink:hover{
  color: #FB8150;
}

#resetLink:hover{
  color:#FB8150;
}

#likedQuotes:hover{
  color:#FB8150;
}

.responsive-img {
  align-content: top;
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 50%;
  height: 50%;
}

.container {
  color: white;
  background: radial-gradient(#414141,#1C1C1C);
  text-align: center;
  padding: 2%;

}

.houseLogo {
  display: block;
  position: relative;
  width: 10%;
  height: 10%;
  padding: 0%;
  float: left;
}
.houseLogo2 {
  display: block;
  position: relative;
  width: 10%;
  height: 10%;
  bottom: 200%;
  padding: 0%;
  float: right;
}
.large.material-icons.transparent {
  border: 0px;
  color: #f06292;
}
.btn {
  align-items: center;
  background-color: transparent;
  font-family: 'Game of Thrones';
  float: left;
}

.btn:hover {
  background-color: #FB8150;
  color: #414141;
}
#remove-button {
  position:relative;
  float: left;
  background-color: transparent;  
}

#remove-button:hover{
  background-color: red;
}

#btnX {
  color: lightgrey;
}
#btnX:hover{
  background-color: red;
  color: white;
}